* {
  margin: 0;
  padding: 0;
}

.turn {
  display: flex;
  justify-content: space-around;
  padding: 2vh;
}

.tic-container {
  margin: auto;
  width: 45vw;
  height: 45vw;
  display: grid;
  grid-template-columns: repeat(3, calc(100/3)%);
  grid-template-rows: repeat(3, calc(100/3)%);
  grid-template-areas:
    "box1 box2 box3"
    "box4 box5 box6"
    "box7 box8 box9"
}

#box1 {
  grid-area: box1;
}

#box2 {
  grid-area: box2;
}

#box3 {
  grid-area: box3;
}

#box4 {
  grid-area: box4;
}

#box5 {
  grid-area: box5;
}

#box6 {
  grid-area: box6;
}

#box7 {
  grid-area: box7;
}

#box8 {
  grid-area: box8;
}

#box9 {
  grid-area: box9;
}

#box1, #box4, #box7 {
  border-right: solid;
}

#box1, #box2, #box3 {
  border-bottom: solid;
}

#box3, #box6, #box9 {
  border-left: solid;
}

#box7, #box8, #box9 {
  border-top: solid;
}

.x {
  background: url(x.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.o {
  background: url(o.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  padding: 20px;
}

.highlight {
  background: rgba(100, 130, 185, 0.7);
}

#gameover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .1);
  display: block;
  z-index: 1;
  display: none;
}

.reload {
  color: white;
  background: rgba(0, 0, 0, .4);
  font-size: 50pt;
  position: absolute;
  margin: auto;
  width: 30vw;
  padding: 30px;
  top: 45vh;
  left: 35vw;

}
